@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-image: url(./assets/decoration.jpg);
}

header {
  height: 5rem;
  background-color: rgba(52, 73, 94, 1);
}

header div {
  padding-left: 1.5rem;
}

.Brand {
  line-height: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Logo {
  font-size: 2.4rem;
  color: #DC3545;
}

.sub-header {
  width: 97.5%;
}

.Searchbar {
  width: 30%;
}

.offer {
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.discount {
  border-top: 3px solid red;
  border-bottom: 3px solid red;
  margin: 0 2rem 0.5rem 2rem;
}

.live-now {
  font-size: 1.6rem;
  font-weight: bold;
  color: #FFC107;
   margin: 0 2rem 0.5rem 1rem;
}

::placeholder {
  height: 1.188rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: normal;
  letter-spacing: -0.15px;
  color: #b3b4b8;
}

.img-div {
  box-sizing: border-box;
  height: 500px;
}

.cocktail-info {
  margin-right: 15rem;
}

.cocktail-name {
  font-size: 1.7em;
  font-weight: bold;
  font-stretch: stretch;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:darkslategrey
}

.price-tag {
  font-size: 2.1rem;
  color: #FFC107;
}

.price {
  font-size: 1.7em;
}

.shopping-cart {
  font-size: 2.1rem;
  color: #FFC107;
  margin: auto auto -0.5rem 1rem;
}

.blink {
  animation: blink-animation 2s steps(5, start) infinite;
  -webkit-animation: blink-animation 2s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}



